
<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container" >
<h2>상세보기</h2>
<table>
    <div th:text="${article.subject}"></div>
    <div th:text="${article.content}"></div>
    <div th:text="${article.createDate}"></div>

</table>
<button>
    <a th:href="@{/article/list}"> 목록 </a>
</button>
<button>
    <a th:href="@{|/article/modify/${article.id}|}" th:text="수정"></a>
</button>
<button>
    <a th:href="@{|/article/delete/${article.id}|}" th:text="삭제"> </a>
</button>

</div>
</html>